<%= form_with model: @entry, local: true do |f| %>

    <% if @entry.errors.any? %>
        <div class="notification notification--error">
            <p>Errors prevented this entry from being saved:</p>
            <ul>
                <% @entry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-field">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-input", required: true %>
    </div>

    <div class="form-field">
        <%= f.label :category_id, class: "form-label" %>
        <%= f.select :category_id, options_for_select(@category_options, @entry.category_id), {}, { :class => "form-select"} %>
    </div>

    <div class="form-field">
        <%= f.label :body, class: "form-label visually-hidden" %>
        <trix-editor input="entry_body" class="form-input"></trix-editor>
        <%= f.hidden_field :body, class: "form-input" %>
    </div>

    <%= f.submit "Save", class: "button" %>

<% end %>