<% content_for :title, @entry.title %>
<%= render layout: 'layouts/app' do %>
    <div class="entry">
        <section class="entry__header">
            <h1 class="entry__title"><%= @entry.title %></h1>
            <div class="entry__meta">
                <p class="entry__updated">Last updated <%= time_ago_in_words(@entry.updated_at) %> ago <% if @entry.last_editor %>by <%= @entry.last_editor %><% end %></p>
                <%= link_to fa_icon( "edit", text: "Edit entry"), edit_entry_path(@entry), class: "entry__edit-link" %>
            </div>
        </section>

        <div class="entry__grid">
            <section class="entry__content">
                <%= sanitize @entry.body %>
            </section>
            <%= render 'links/links' %>
        </div>
    </div>
<% end %>