<dialog class="new-link-dialog">

    <%= form_with model: [@entry, @link], local: true do |f| %>

        <div class="new-link-dialog__content">

            <div class="form-field">
                <%= f.label :url, class: "form-label" do %>
                    URL
                <% end %>
                <%= f.url_field :url, class: "form-input", required: true %>
            </div>

            <div class="form-field">
                <%= f.label :description, class: "form-label" %>
                <%= f.text_field :description, class: "form-input", required: true  %>
            </div>

        </div>

        <div class="new-link-dialog__actions">
            <%= f.submit "Add link", class: "button" %>
        </div>

    <% end %>

</dialog>


