
<div class="app">
    <div class="app-body">
    
        <%= react_component "Sidebar", {
          logoUrl: asset_url("wordmark.svg"),
          collections: @collections
        } %>

        <%= debug @collections %>

        <div class="main-pane">
            <%= render 'layouts/header' %>

            <main class="content-area">
              <% if notice %>
                <p class="notification notification--notice"><%= fa_icon "check" %> <%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="notification notification--alert"><%= fa_icon "exclamation" %> <%= alert %></p>
              <% end %>

              <%= yield %>
            </main>

            <%= render 'layouts/footer' %>
        </div>

    </div>
</div>
