
<div class="app">
    <%= render 'layouts/header' %>
    <div class="app-body">
        <%= render 'layouts/contents' %>
        <div class="main-pane">
            <main class="content-area">

              <% if notice %>
                <p class="notification notification--notice"><%= fa_icon "check" %> <%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="notification notification--alert"><%= fa_icon "exclamation" %> <%= alert %></p>
              <% end %>

              <%= yield %>

            </main>
            <footer class="site-footer">
                <p class="site-footer__info">Built and maintained by the FutureGov technology and data practice.</p>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "site-footer__link" %>
            </footer>
        </div>
    </div>
</div>
