<header class="site-header">

  <%= link_to root_path, class: "site-header__masthead" do %>
      <%= image_tag "brandmark.svg", class: "site-header__mobile-logo" %>
      <%= image_tag "wordmark.svg", class: "site-header__desktop-logo" %>
      <h1 class="site-header__mobile-name">Tech</h1>
      <h1 class="site-header__desktop-name">Technology</h1>
  <% end %>


  <div class="site-header__actions">
    <%= link_to "New entry", new_entry_path, class: "site-header__action site-header__action--primary" %>
    <% if current_user %>
      <%= link_to('Log out', destroy_user_session_path, method: :delete, class: "site-header__action") %>   
    <% end %>
  </div>
</header>