<%= form_tag "/search", method: :get do %>

    <div class="search-field">
        <%= label_tag "search_query", "Search query", class: "visually-hidden" %>
        <%= text_field_tag "search_query", @search_query, placeholder: "Search", class: "search-field__input", required: true %>
        <%= button_tag(type: 'submit', class: "search-field__icon") do %>
            <%= fa_icon("search") %>
            <span class="visually-hidden">Search</span>
        <% end %>
    </div>

<% end %>