<aside class="contents">

  <%= link_to root_path, class: "site-header__masthead" do %>
      <%= image_tag "wordmark.svg", class: "site-header__desktop-logo" %>
      <h1 class="site-header__desktop-name">Technology Wiki</h1>
  <% end %>
  
  <div class="contents__collapsible">

    <%= render 'layouts/search' %>

    <ul class="contents__list">
      <% @categories.each do |cat| %>
        <% if cat.entries.any? %>
          <li>
            <h3 class="contents__heading"><%= cat.name %></h3>
            <ul class="contents__category-list">
              <% cat.entries.order('title ASC').each do |entry| %>
                <li class="contents__entry"><%= link_to entry.title, entry_path(entry), class: "contents__entry-link #{"contents__entry-link--active" if current_page? collection_entry_path(entry)}" %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        
      <% end %>
    </ul>

  </div>
</aside>