<aside class="sidebar">
  <div class="sidebar__collections">

    <% @collections.each do |collection| %>
        <li>
          <h3><%= collection.name %></h3>
        </li>
    <% end %>

  </div>

  <div class="sidebar__categories">

    <%= link_to root_path, class: "masthead" do %>
        <%= image_tag "wordmark.svg", class: "masthead__logo" %>
        <h1 class="masthead__name">Technology</h1>
    <% end %>

    <ul class="contents">
      <% @collections.each do |collection| %>
        <% collection.categories.each do |cat| %>
          <% if cat.entries.any? %>
            <li class="contents__category">
              <h3 class="contents__heading"><%= cat.name %></h3>
              <ul class="contents__category-list">
                <% cat.entries.order('title ASC').each do |entry| %>
                  <li class="contents__entry"><%= link_to entry.title, entry_path(entry), class: "contents__entry-link #{"contents__entry-link--active" if current_page? entry_path(entry)}" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

        <% end %>        
      <% end %>
    </ul>

  <div>
</aside>